# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Models
*.pth
*.pkl
src/models/

# Logs & data
*.log
data/
log/

# TensorBoard
runs/

# Experiments plots
experiments/
*.png
*.csv

# IDE
.vscode/
.idea/
*.swp
*.swo
